.overview{
    padding: 30px 0;
}
.three-col{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
h1 {
    font-size: calc(2rem + 1vw);
    line-height: calc(1.5rem + 1vw);
    margin: 20px auto;
    text-align: center;
    position: relative;
    width: fit-content;
}
h2{
    font-size: calc(1.5rem + 1vw);
}
p{
    font-size: clamp(16px, 2.5vw, 18px);
    padding: 15px;
    line-height: 150%;
}
.each-item{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 480px;
}
.each-item img{
    width: 100%;
    display: block;
    border-radius: 20px;
    transition: transform 0.5s;
}
/* The layer text over an element is something new I tried using css. I used transition and transform for it. I discovered it in w3school tutorials*/
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6), #ff6f52);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 40px; */
    text-align: center;
    transition: height 0.5s;

}
.layer h3{

    margin-bottom: 20px;
    color: white;
}
.layer p{

    color: white;
    padding-bottom: 10px;
}

div.gallery {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

div.gallery:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

div.card-title {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: bold;
    padding: 15px;
}

div.gallery:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

div.card-title {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: bold;
    padding: 15px;
}

div.desc {
    font-size: clamp(16px, 2.5vw, 18px);
    padding: 15px;
    line-height: 150%;
}

.card {
    margin-top: 30px;
    padding: 0 10px;
    float: left;
    width: 22.99999%;
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.05);
}
.primary-cta a {

    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    display: inline-block;
}
.each-item:hover img{
    transform: scale(1.1);
}

.each-item:hover .layer{
    height: 100%;
}
.copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    color: white;
    text-align: center;
}
.footer {
    padding-top: 0;
    padding-bottom: 1rem;
}
  
/* Mobile version */
@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .card{

        width: 100%;
        padding: 0;
    }
    .navbar {
        display: block;
      }
    
      .logo-icon {
        width: calc(17em);
        margin-left: calc(1.6em);
      }
      .navbar ul li a {
        font-size: calc(0.7rem + 0.5vw);
      }
        .footer-bottom {
    margin-left: calc(4em);
  }
}

/* Tablet Version */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .overview-section .overview-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .overview-section .overview-card .card {
        width: 44.99999%; /* Adjusted width */
    }

    .navbar {
        display: block;
        height: calc(2.9rem);
        margin-left: 10em; /* Adjusted margin */
    }

    .logo-icon {
        width: 23em;
    }

    .navbar ul li a {
        font-size: calc(1rem + 1vw);
    }

    .footer-bottom {
        margin-left: 33%; /* Adjusted margin */
    }
}